# Supabase — get these from https://supabase.com/dashboard → Project Settings → API
# VITE_ prefix is required for Vite to expose variables to the browser
VITE_SUPABASE_URL=https://hawvhqhqftkafbpxwyll.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhhd3ZocWhxZnRrYWZicHh3eWxsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyNjk3MzgsImV4cCI6MjA4Nzg0NTczOH0.2-GZQowfmOlRnbTsTW_5X9t808TljBscNIcN0OD8ZJ4

# API base URL
VITE_API_URL=http://localhost:3000

# Mapbox — get your public token from https://account.mapbox.com/access-tokens/
VITE_MAPBOX_TOKEN=pk.eyJ1IjoidGhpbmh0bjMiLCJhIjoiY21tNjZwbmpoMGc4MDJwb3VoY2hkeG5pdiJ9.1wKqyTXGI4pUMfodKNhCpA
